<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="IRA Test Automation Suite" thread-count="1" parallel="none" preserve-order="true" >
    <listeners>
        <listener class-name="com.core.report_and_listener.Listener"></listener>
    </listeners>
    <test name="Assaignmant test"  preserve-order="true">

        <classes>
            <class name="com.test_classes.AssaignmantPageTest"></class>
        </classes>
    </test>

</suite>